{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock title %}

{% block content %}
    <h1>{{ image.title }}</h1>
    {% thumbnail image.image "300" as im %}
        <a href="{{ image.url }}">
            <img src="{{ im.url }}" alt="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=image.users_like.count  %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_likes }} like{{ total_likes|pluralize }}
                </span>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.user_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}" alt="">
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                <p>Nobody has liked the image yet</p>
            {% endfor %}
        </div>
    {% endwith %}
{% endblock content %}
